*{
    margin: 0px;
    padding: 0px;
    direction: rtl;
}

ul{
    
    line-height: 40px;
    list-style: none;
    text-align: center;
    background:#dddd;
    
}

li{
    display: inline-block;
    padding: 20px;
}

li:hover{
    background-color: rgb(58, 150, 156);
    font-size: larger;
    color: beige;
}
li ul {

    display: none;
}
li:hover ul {
   
    display: block;
}