* {
  margin: 0px;
  padding: 0px;
  direction: rtl;
}

#main li {
  float: right;
  width: 120px;
  height: 40px;
  line-height: 40px;
  list-style: none;
  text-align: center;
  background: #FFDAB9;
}

#main li a {
  text-decoration: none;
  color: #2F4F4F;

}

#main ul {
  display: none;
}

#main li:hover ul {
  display: block
}

#main li :hover {
  background-color: #eee;
}