<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/m2m.css">
</head>
<body>
    <ul>
        <li><a href="#">one</a></li>
        <li><a href="#">two</a>
            <ul>
                <li><a href="#">onkoe</a></li>
                <li><a href="#">twreo</a></li>
                <li><a href="#">trhyee</a></li>
                <li><a href="#">fokidur</a></li>
            </ul>
        </li>
        <li><a href="#">tree</a></li>
        <li><a href="#">four</a></li>
    </ul>
</body>
</html>