<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/menu2.css">
</head>
<body>
    <ul id="main">
        <li>منو</li>
        <li>محصولات
            <ul id="main">
                <li>منو</li>
                <li>محصولات</li>
                <li>خدمات پس از فروش</li>
                <li>تماس با ما</li>
            </ul>
        </li>
        <li>خدمات پس از فروش</li>
        <li>تماس با ما</li>
    </ul>
    
</body>
</html>