<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./static/menu.css">
</head>
<body>
              <ul id="main">
                <li><a href="#">منو</a></li>
                <li><a href="#">محصولات</a>
                  <ul id="main">
                    <li><a href="#">مبلمان</a></li>
                    <li><a href="#">لوازم برقی</a></li>
                    <li><a href="#">کادویی</a></li>
                    <li><a href="#">فرش</a></li>
                    <li><a href="#">دکوریجات</a></li>
                  </ul>
                </li>
                <li><a href="#">خدمات پس از فروش</a></li>
                <li><a href="#">درباره ما</a></li>
                <li><a href="#">تماس با ما</a></li>
                
              </ul>
</body>
</html>